.main-section{
    background-color: 	#EAECEE ;
    padding:  20px;

}
.money-img img{
margin-top: 50px;
}
.head-color{
    color: #DE3163 ;
}
.alert{
    display: none;
}
.error-2{
    display: none;
}